<vg-player>
    <div class="left">
        <vg-controls>
            <vg-play-pause vgFor="leftVideo"></vg-play-pause>

            <vg-scrub-bar vgFor="leftVideo">
                <vg-scrub-bar-current-time vgFor="leftVideo"></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time vgFor="leftVideo"></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>

            <vg-time-display vgvgProperty="left" vgvgFormat="mm:ss"></vg-time-display>

            <vg-mute vgFor="leftVideo"></vg-mute>

            <vg-fullscreen vgFor="leftVideo"></vg-fullscreen>
        </vg-controls>

        <video [vgMedia]="left" #left id="leftVideo" preload="auto">
            <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
        </video>
    </div>

    <div class="right">
        <vg-controls>
            <vg-play-pause vgFor="rightVideo"></vg-play-pause>

            <vg-scrub-bar vgFor="rightVideo">
                <vg-scrub-bar-current-time vgFor="rightVideo"></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time vgFor="rightVideo"></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>

            <vg-time-display vgFor="rightVideo" vgvgProperty="left" vgvgFormat="mm:ss"></vg-time-display>

            <vg-mute vgFor="rightVideo"></vg-mute>

            <vg-fullscreen vgFor="rightVideo"></vg-fullscreen>
        </vg-controls>

        <video [vgMedia]="right" #right id="rightVideo" preload="auto">
            <source src="http://static.videogular.com/assets/videos/vr-demo.mp4" type="video/mp4">
        </video>
    </div>
</vg-player>